:root {
  --primary-color: #53a187;
  --color-button: rgb(103, 209, 171);
  --text-color: #fff;
}

* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  animation: fadeIn linear 0.3s;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}
.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 6;
  border-radius: 5px;
  animation: growth linear 0.3s;
}

/* Animation  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
